    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-2">
                    <div class="intro-text">
                        <span class="name">{{ site.title }}</span>
                        <span class="skills">Department of Pathology<br>
                            Stanford University<br>
                            Stanford, CA</span>
                    </div>
                    <br />
                </div>
                <div class="col-md-2 col-md-pull-8 col-xs-6">
                    <img src="/img/HRSwebpage.jpg" style="width:120px;"/>
                </div>
                <div class="col-md-2 col-xs-6">
                    <br />
                    <img src="/img/lablogo.jpg" style="width:180px;"/>
                </div>
            </div>
        </div>
    </header>